<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720824865533-ngkem20soveio309i9gljicuddhrrfp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720824865533-ngkem20soveio309i9gljicuddhrrfp1</string>
	<key>API_KEY</key>
	<string>AIzaSyCkwZkqRsTQtXNejXqEVKCSTu45Ogy_yIs</string>
	<key>GCM_SENDER_ID</key>
	<string>720824865533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>talent-pool-82df8</string>
	<key>STORAGE_BUCKET</key>
	<string>talent-pool-82df8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720824865533:ios:548f8dac0fe3f819b7e494</string>
</dict>
</plist>